@import '../../../mixin';

.git-repository-header {
  background-color: rgb(0, 132, 107);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  @include poppins-bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  & a {
    color: white;
    @include poppins-bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
  border-bottom: solid 1px;
}