@import './mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.salad-navigation-header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: calc(2.5vw + 2.5vh);
  border-bottom: solid 1px black;
  padding-left: 2vw;
  padding-right: 2vw;
  & span {
    margin-left: 1vw;
  }
}

.salad-maker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(1vw + 1vh);
}

.salad-builder-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: calc(7.5vw + 7.5vh);
  row-gap: calc(1vw + 1vh);
}

.salad-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: calc(0.5vw + 0.5vh);
  align-items: center;
}

.salad-summary-wrapper {
  display: flex;
  justify-content: left;
  border-top: solid 1px black;
  margin-top: 1vh;
  padding-right: calc(1.5vw + 1.5vh);
  padding-left: calc(1.5vw + 1.5vh);
  & .max-quantity {
    color: red;
  }
  
/*   position: absolute;
  bottom: 10px; */
}

@import './media';


