@import './mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  @include roboto-regular();
}

.salad-navigation-header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: calc(2.5vw + 2.5vh);
  border-bottom: solid 1px black;
  padding-left: 2vw;
  padding-right: 2vw;
  & span {
    margin-left: 1vw;
  }
}
h1 {
  text-align: center;
}
.salad-maker-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(1.5vw + 1.5vh);
}

.salad-builder-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(7.5vw + 7.5vh);
  row-gap: calc(1vw + 1vh);
  width: 50%;
  padding-left: calc(1.5vw + 1.5vh);
  & .salad-item-wrapper {
    display: flex;
    justify-content: space-between;
    row-gap: calc(0.5vw + 0.5vh);
    align-items: center;
  }
}



.salad-summary-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 50%;
  & .max-quantity {
    color: red;
  }
  & .salad-summary-ul {
    width: 50%;
    list-style-type: none;
  }
}

@import './media';


